WORDPRESS_API_URL=https://time-restricted.com/graphql
REVALIDATE_SECRET=

MAILCHIMP_API_KEY=
MAILCHIMP_LIST_ID=

SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
SMTP_FROM=
CONTACT_TO=
SMTP_SECURE=false
